<h2 mat-dialog-title>{{title}}</h2>

<form [formGroup]="albumForm" (ngSubmit)="onSubmit()">
  <div class="form">
    <mat-form-field appearance="outline">
      <mat-label>Identifiant</mat-label>
      <input matInput formControlName="id" readonly />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Nom</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Date de sortie</mat-label>
      <input matInput formControlName="dateOfRelease" />
    </mat-form-field>
  </div>


  <mat-dialog-actions align="end">
    <button mat-button type="button" mat-dialog-close>Annuler</button>
    <button mat-raised-button type="submit" cdkFocusInitial color="warn" [disabled]="!albumForm.valid || !albumForm.dirty">{{submitBtnName}}</button>
  </mat-dialog-actions>
</form>